<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.sbblog.dao.UserMapper">

    <resultMap id="user" type="com.zzy.sbblog.entity.User">
        <id column="user_id" property="id"/>
        <result column="nickname" property="nickname"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="nickname" property="nickname"/>
        <result column="type" property="type"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getUserByUsername" resultMap="user">

        select
            user_id,nickname,username,password,email,avatar,type,create_time,update_time
        from
            t_user
        where
            username = #{username}

    </select>

</mapper>